<footer class="footer">
    <div class="content has-text-centered">
        <span>Copyright © {% year %}
            {{ site.authorName }}.</span>
        <span>All rights reserved.</span>
    </div>
</footer>