{% if content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Redirecting to /?project={{ title | slugify }}</title>
            <meta http-equiv="refresh" content="0; URL=/?project={{ title | slugify }}">
            <link rel="canonical" href="/?project={{ title | slugify }}">
        </head>
        <body></body>
    </html>
{% else %}
    <div id="modal-{{ project.data.title | slugify }}" class="modal modal-fx-fadeInScale">
        <div class="modal-background"></div>
        {% if project.data.images %}
            <div class="modal-card is-wide">
            {% else %}
                <div class="modal-card">
                {% endif %}
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ project.data.title }}</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="columns">
                        {% if project.data.images %}
                            <div class="column carousel is-flex-tablet">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        {%- for iamge in project.data.images -%}
                                            <div class="swiper-slide">
                                                <img src="{{ iamge }}" alt="Slide {{ loop.index }}"/>
                                            </div>
                                        {%- endfor -%}
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                        {% endif %}
                        {% if project.templateContent %}
                            <div class="column content">
                                {% include "entry.njk" %}
                                {{ project.templateContent | safe }}
                            {% else %}
                                <p>🏃🏻 More content is on the way !<br/>Please check back later.</p>
                            </div>
                        {% endif %}
                    </div>
                </section>
                {% if project.data.repository_url %}
                    <footer class="modal-card-foot is-justify-content-flex-end">
                        {% if project.data.demo_url %}
                            <a href="{{ project.data.demo_url }}" class="button is-success">
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid meet" viewbox="0 0 20 20"><path
                                            fill="currentColor"
                                            d="M5.453 4.167a.726.726 0 0 0-1.027-.01A8.225 8.225 0 0 0 2 10a8.228 8.228 0 0 0 2.604 6.015a.725.725 0 0 0
                                                1.01-.025c.316-.316.277-.819-.027-1.11A6.73 6.73 0 0 1 3.5 10c0-1.846.741-3.52
                                                1.943-4.738c.29-.295.32-.785.01-1.095ZM7.214 5.93a.714.714 0 0 0-1.008-.016A5.733 5.733 0 0 0 4.5 10a5.73 5.73 0 0 0
                                                1.893 4.264a.713.713 0 0 0 .983-.037c.328-.328.267-.844-.041-1.134A4.237 4.237 0 0 1 6 10c0-1.15.457-2.194
                                                1.2-2.96c.286-.294.333-.793.014-1.111Zm5.572 0a.714.714 0 0 1 1.008-.016A5.733 5.733 0 0 1 15.5 10a5.73 5.73 0 0 1-1.893
                                                4.264a.713.713 0 0 1-.983-.037c-.328-.328-.267-.844.041-1.134A4.237 4.237 0 0 0 14
                                                10c0-1.15-.457-2.194-1.2-2.96c-.286-.294-.333-.793-.014-1.111Zm1.761-1.762a.726.726 0 0 1 1.027-.01A8.225 8.225 0 0 1 18
                                                10a8.228 8.228 0 0 1-2.604 6.015a.725.725 0 0 1-1.01-.025c-.316-.316-.277-.819.028-1.11A6.73 6.73 0 0 0 16.5
                                                10c0-1.846-.741-3.52-1.943-4.738c-.29-.295-.32-.785-.01-1.095ZM10 8.5a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3Z"/>
                                    </svg>
                                </span>
                                <span>Live</span>
                            </a>
                        {% endif %}
                        <a href="{{ project.data.repository_url }}" class="button is-github">
                            <span class="icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="1em"
                                    height="1em"
                                    preserveaspectratio="xMidYMid meet"
                                    viewbox="0 0 24 24"><path
                                        fill="currentColor"
                                        d="M12 .297c-6.63 0-12 5.373-12 12c0 5.303 3.438 9.8 8.205
                                            11.385c.6.113.82-.258.82-.577c0-.285-.01-1.04-.015-2.04c-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633
                                            17.7c-1.087-.744.084-.729.084-.729c1.205.084 1.838 1.236 1.838 1.236c1.07 1.835 2.809 1.305
                                            3.495.998c.108-.776.417-1.305.76-1.605c-2.665-.3-5.466-1.332-5.466-5.93c0-1.31.465-2.38
                                            1.235-3.22c-.135-.303-.54-1.523.105-3.176c0 0 1.005-.322 3.3 1.23c.96-.267 1.98-.399 3-.405c1.02.006 2.04.138 3
                                            .405c2.28-1.552 3.285-1.23 3.285-1.23c.645 1.653.24 2.873.12 3.176c.765.84 1.23 1.91 1.23 3.22c0 4.61-2.805 5.625-5.475
                                            5.92c.42.36.81 1.096.81 2.22c0 1.606-.015 2.896-.015 3.286c0 .315.21.69.825.57C20.565 22.092 24 17.592 24
                                            12.297c0-6.627-5.373-12-12-12"/>
                                </svg>
                            </span>
                            <span>Repository</span>
                        </a>
                    </footer>
                {% endif %}
            </div>
        </div>
    {% endif %}