<section id="stats" class="section">
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Projects</p>
                <div id="projects" class="title skeleton" data-projects="{{ collections.project | length }}">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Stars</p>
                <div id="stars" class="title skeleton">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Followers</p>
                <div id="followers" class="title skeleton">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Since</p>
                <div id="since" class="title skeleton" data-since="2016">
                    <div></div>
                </div>
            </div>
        </div>
    </nav>
</section>