---
layout: base
---

<div class="container is-max-widescreen">
  <section class="section is-large">
    <h1 class="title">🏗 Under Construction</h1>
    <h2 class="subtitle">
      This page is still under construction. Please check back later.
      <br>
        Meanwhile, you can check out my
        <a href="https://github.com/tomy0000000">GitHub</a>
      </h2>
    </section>
    <section id="stats" class="section">
      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Projects</p>
            <div id="projects" class="title skeleton" data-projects="{{ collections.project | length }}">
              <div></div>
            </div>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Stars</p>
            <div id="stars" class="title skeleton">
              <div></div>
            </div>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Followers</p>
            <div id="followers" class="title skeleton">
              <div></div>
            </div>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Since</p>
            <div id="since" class="title skeleton" data-since="2016">
              <div></div>
            </div>
          </div>
        </div>
      </nav>
    </section>
    <section class="section">
      <div class="tile is-ancestor">{# {% include "card.njk" %} #}
        {# {% include "card.njk" %} #}
      </div>
      <div class="tile is-ancestor">{# {% include "card.njk" %} #}
        {# {% include "card.njk" %} #}
      </div>
    </section>
  </div>
  <script src="{{ '/js/stats.js' | url }}"></script>