---
layout: base
---

<div class="container is-max-widescreen">
  <section id="hero" class="section">
    <div class="columns">
      <div class="column">
        <img src="/img/undraw_programming.svg" alt="programming" width="500"/>
      </div>
      <div class="column my-auto has-text-centered has-text-right-desktop">
        <h1 class="title">Projects</h1>
        <h2 class="subtitle">by
          <a href="https://github.com/tomy0000000">Tomy Hsieh</a>
        </h2>
      </div>
    </div>
  </section>
  {% include "stats.njk" %}
  <section id="entries" class="section">
    {%- for project in collections.projects | sortByOrder %}
      {%- if project.data.title -%}
        <div class="entry-card card mt-5">
          <div class="card-content">
            {% include "entry.njk" %}
          </div>
        </div>
        {% include "project.njk" %}
      {%- endif -%}
    {%- endfor %}
  </section>
</div>