---
layout: base
---

<div class="container is-max-widescreen">
  <section class="section is-large">
    <h1 class="title">🏗 Under Construction</h1>
    <h2 class="subtitle">
      This page is still under construction. Please check back later.<br/>Meanwhile, you can check out my
      <a href="https://github.com/tomy0000000">GitHub</a>
    </h2>
  </section>
  {% include "stats.njk" %}
  <section id="entries" class="section">
    {%- for project in collections.project %}
      {% include "entry.njk" %}
      {% include "project.njk" %}
    {%- endfor %}
  </section>
</div>