---
layout: base
---

<div class="container is-max-widescreen">
  <section id="hero" class="section">
    <div class="columns">
      <div class="column">
        <img src="/img/undraw_programming.svg" alt="programming" width="500"/>
      </div>
      <div class="column my-auto has-text-centered has-text-right-desktop">
        <h1 class="title">Projects</h1>
        <h2 class="subtitle">by
          <address class="is-inline">
            <a href="https://github.com/tomy0000000">Tomy Hsieh</a>
          </address>
        </h2>
      </div>
    </div>
  </section>
  {% include "stats.njk" %}
  <section id="entries" class="section">
    {%- for project in collections.projects | sortByOrder %}
      {%- if not project.data.draft and project.data.title -%}
        {% include "entry.njk" %}
        {% include "project.njk" %}
      {%- endif -%}
    {%- endfor %}
  </section>
</div>