@use "../../node_modules/bulma/bulma.sass";
@use "../../node_modules/bulma-modal-fx/dist/css/modal-fx.min.css";

@keyframes loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.button.is-github {
  background-color: #181717;
  color: #fff;
}

section#stats {
  .skeleton {
    height: 2.25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    div {
      width: 2em;
      height: 1rem;
      border-radius: 0.5rem;
      animation: loading 1s linear infinite alternate;
    }
  }
}

section#entries {
  div.entry-card {
    border-radius: 1rem;
  }

  p.project-emojis {
    font-size: 6rem;
  }
}
