@use "../../node_modules/bulma/bulma.sass";

@keyframes loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

section#stats {
  .skeleton {
    height: 2.25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    div {
      width: 2em;
      height: 1rem;
      border-radius: 0.5rem;
      animation: loading 1s linear infinite alternate;
    }
  }
}
