---
title: Tubee
description: 🎬🔍 One-stop solution for YouTube content tracking
icon: /img/tubee/icon.png

images: ["/img/tubee/screenshot-1.png", "/img/tubee/screenshot-2.png", "/img/tubee/screenshot-3.png"]
# theme_color: "#000000"
type: Full Stack Application
labels: ["Python", "Flask", "Jinja", "jQuery", "Bootstrap", "PostgreSQL", "Celery", "GitHub Actions", "Docker", "Linode", "Sentry"]
repository_url: https://github.com/tomy0000000/tubee


---

<p>The system that help me find inspiring content from over 600+ new videos across 250+ channels within 3 minutes every day</p>
<ul>
    <li>Tag subscription to categorize different types of channels</li>
    <li>News feed-style video listing, never miss a new video</li>
    <li>Customized action for video (Automatically or manually)
        <ul>
            <li>Add to your playlist</li>
            <li>Send notification</li>
            <li>Download video to your Dropbox</li>
        </ul>
    </li>
</ul>