---
title: NCHU SDK
description: 🧰🧑🏻‍🎓 SDK for accessing NCHU Portal System

emoji: 🏛
# front_image: 
# long_description: 
# theme_color: "#000000"
type: SDK
labels: ["Python", "Requests", "BeautifulSoup", "Flit"]
repository_url: https://github.com/tomy0000000/NCHU-SDK


---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>