---
title: NCHU NLP Lab Website
description: 🌐 Main website of NCHU NLP Lab
icon: /img/nchu-nlp-lab-website/logo.png


# theme_color: "#000000"
type: Website
labels: ["HTML", "CSS", "Tailwind CSS", "JavaScript", "jQuery", "Lottie Player", "Webpack", "Babel", "PostCSS", "GitHub Pages"]
repository_url: https://github.com/NCHU-NLP-Lab/nchu-nlp-lab.github.io
demo_url: https://nlpnchu.org/
co_author: [{"name": "Eric Lam", "link": "https://github.com/voidful"}, {"name": "Harry Chan", "link": "https://github.com/Harry-Chan"}, {"name": "Yu-Tang Shih", "link": "https://github.com/ryanytshih"}]
---

<ul>
    <li>Reduced 80% size transmitted by reconfigure Webpack and adopt Tailwind CSS</li>
    <li>Add animations with Lottie Player</li>
</ul>