---
title: CV
description: 👨🏻‍💻💼 My curriculum vitae, built with Hugo

emoji: 💼
# front_image: 
# long_description: 
# theme_color: "#000000"
type: Website
labels: ["Hugo", "HTML", "SCSS", "GitHub Actions", "GitHub Pages"]
repository_url: https://github.com/tomy0000000/cv
demo_url: https://cv.tomy.me

---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>