---
title: CV
description: 👨🏻‍💻💼 My curriculum vitae, built with Hugo

emoji: 💼
images: ["/img/cv/screenshot.png"]
# theme_color: "#000000"
type: Website
labels: ["Hugo", "HTML", "SCSS", "GitHub Actions", "GitHub Pages"]
repository_url: https://github.com/tomy0000000/cv
demo_url: https://cv.tomy.me

---

<ul>
    <li>⚡️ Blazingly fast to load (99% in Chrome's Lighthouse Performance)</li>
    <li>🕵🏻‍♂️ Auto typo check (with pre-commit)</li>
    <li>⏪ History edits checked in (with git)</li>
    <li>🖨 Printable and PDF Ready</li>
    <li>🔍 SEO Built-in (Favicons, Metatags,...)</li>
    <li>📇 Indexable, works well with Applicant Tracking Systems</li>
</ul>