---
title: MB Code
description: 🧨📋 Code name generator based on MythBusters episode names

emoji: 🧨
# front_image: 
# long_description: 
# theme_color: "#000000"
type: Weekend Project
labels: ["Vue", "Animate.css", "ESLint", "Vercel"]
repository_url: https://github.com/tomy0000000/MB-Code
demo_url: https://mb-code.tomy.tech

---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>