---
title: AppShelf
description: 🎁📦 A decent shelf for your great apps so they're always at your disposal

emoji: 🎁
# front_image: 
# long_description: 
# theme_color: "#000000"
type: Full Stack Application
labels: ["Ruby", "Ruby on Rails", "RuboCop", "MongoDB", "Docker", "Fly.io"]
repository_url: https://github.com/tomy0000000/appshelf


---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>