---
title: Stand
description: 📰🕷 Create news RSS feed with scrapy

emoji: 📰
# front_image: 
# long_description: 
# theme_color: "#000000"
type: CLI
labels: ["Python", "Scrapy"]
repository_url: https://github.com/tomy0000000/Stand


---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>