---
title: Mailcow
description: My personal Email server
icon: /img/mailcow/icon.svg

# front_image: 
# long_description: 
# theme_color: "#000000"
type: "Self-Hosted"
labels: ["Email", "Docker", "Docker Compose", "Linode"]
repository_url: https://github.com/tomy0000000/


---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>