---
title: Coinc
description: 💰💱Alfred Workflow for currencies conversion
icon: /img/coinc/icon.png

# front_image: https://via.placeholder.com/1280x640.png
# long_description: 
# theme_color: "#000000"
type: Plugin
labels: ["Python", "Alfred", "Pytest"]
repository_url: https://github.com/tomy0000000/Coinc


---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>