---
title: Daily Routine Visualized
description: 👀🏪 My messed up daily routine, visualized

emoji: 🏪
# front_image: 
# long_description: 
# theme_color: "#000000"
type: Weekend Project
labels: ["Python", "Jupyter", "Pandas", "Matplotlib", "Seaborn"]
repository_url: https://github.com/tomy0000000/Daily-Routine-Visualized


---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>