---
title: AppShelf
description: 🎁📦 A decent shelf for your great apps so they're always at your disposal
icon: /img/appshelf/icon.png

images: ["/img/appshelf/lists.png", "/img/appshelf/apps.png"]
# theme_color: "#000000"
type: Full Stack Application
labels: ["Ruby", "Ruby on Rails", "RuboCop", "MongoDB", "Docker", "Fly.io"]
repository_url: https://github.com/tomy0000000/appshelf
demo_url: https://appshelf.tomy.tech/

---

<p>Put your curated list of apps on the shelf and share it with the world!</p>
<ul>
    <li>Create list, add apps, write remarks</li>
    <li>Set list as public, then share with URL</li>
    <li>Support Google Login</li>
    <li>Super minimized, the entry page is typically ~300KB.</li>
</ul>