---
title: Sen Tree Pay
description: 🏦⛺️ Point system for 2018 YZU CI Camp

emoji: ⛺️
images: ["/img/sen-tree-pay/demo.png"]
# theme_color: "#000000"
type: Full Stack Application
labels: ["PHP", "Laravel", "jQuery", "Bootstrap", "MySQL", "Google Cloud"]
repository_url: https://github.com/tomy0000000/Sen-Tree-Pay

co_author: [{"name": "Yen-Cheng Chang", "link": "https://github.com/tyzesc"}]
---

<p>Sen Tree Pay is a point system developed and used during the 2018 Yuan Ze University College of Informatics Orientation Camp. Featuring...</p>
<ul>
    <li>Passwordless login with a QR code stuck to the back of the participant's name tag</li>
    <li>ACL-liked feature access control for different user role</li>
    <li>QR Code scanning in Browser with WebRTC</li>
    <li>Live scoreboard</li>
</ul>
