---
title: Library Flow
description: Library flow collecting system with trend prediction
icon: /img/library-flow/icon.svg

# front_image: 
# theme_color: "#000000"
type: Full Stack Application
labels: ["Arduino", "Python", "FastAPI", "Pydantic", "Bulma", "Chart.js", "Heroku"]
repository_url: https://github.com/tomy0000000/NCHU-Artificial-Intelligent-Internet-of-Things-Application-and-Implementation/tree/main/Project%20-%20Library%20Flow

co_author: [{"name": "Eddy Tan", "link": "https://github.com/bear3z"}]
---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>