---
title: NCHU NLP API
description: All-in-one API service, serving multiple NLP tasks for system demo at NCHU NLP Lab

emoji: ⚡️
# front_image: 
# long_description: 
# theme_color: "#000000"
type: API
labels: ["Python", "FastAPI", "Pydantic", "Transformers"]
repository_url: https://github.com/NCHU-NLP-Lab/api

co_author: [{"name": "Philip Huang", "link": "https://github.com/p208p2002"}]
---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>