---
title: Querator AI
description: 🙋🏻💬 Question Generation Demo Platform in Web Interface
icon: /img/querator-ai/icon.png

# front_image: 
# theme_color: "#000000"
type: Web Application
labels: ["React", "Redux", "Bootstrap"]
repository_url: https://github.com/NCHU-NLP-Lab/querator
demo_url: https://app.queratorai.com/
co_author: [{"name": "Harry Chan", "link": "https://github.com/Harry-Chan"}, {"name": "Philip Huang", "link": "https://github.com/p208p2002"}]
---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>