---
title: Querator AI
description: 🙋🏻💬 Question Generation Demo Platform in Web Interface
icon: /img/querator-ai/icon.png

images: ["/img/querator-ai/querator_ai.png", "/img/querator-ai/distractor_ai.png"]
# theme_color: "#000000"
type: Web Application
labels: ["React", "Redux", "Bootstrap"]
repository_url: https://github.com/NCHU-NLP-Lab/querator
demo_url: https://app.queratorai.com/
co_author: [{"name": "Harry Chan", "link": "https://github.com/Harry-Chan"}, {"name": "Philip Huang", "link": "https://github.com/p208p2002"}]
---

<ul>
    <li>Question Generation web platform backed by
        <a href="/projects/nchu-nlp-api/" target="_blank">NCHU NLP API</a>
    </li>
    <li>Three generation use cases
        <ul>
            <li>Querator AI: Generate questions with distractors (wrong answers) from paragraph</li>
            <li>Querator Group AI: Generate question groups with distractors (wrong answers) from paragraph</li>
            <li>Distractor AI: Generate distractors (wrong answers) for questions</li>
        </ul>
    </li>
    <li>Export questions to JSON, plain text file, or word document</li>
    <li>Achieved over 80% reduction in instructors' workload</li>
</ul>