---
title: Crime Network
description: 👨🏻‍⚖️🗺 Criminal relationship visualization
icon: /img/crime-network/icon.png

# front_image: 
# theme_color: "#000000"
type: Full Stack Application
labels: ["Python", "Django", "jQuery", "D3.js", "Bootstrap", "MongoDB"]
repository_url: https://github.com/NCHU-NLP-Lab/crime-network
demo_url: https://crime-network.nlpnchu.org/
co_author: [{"name": "Li-Gang Jiang", "link": "https://github.com/booker2681"}]
---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>