---
title: Crime Network
description: 👨🏻‍⚖️🗺 Criminal relationship visualization
icon: /img/crime-network/icon.png

images: ["/img/crime-network/network.jpg", "/img/crime-network/relation.jpg"]
# theme_color: "#000000"
type: Full Stack Application
labels: ["Python", "Django", "jQuery", "D3.js", "Bootstrap", "MongoDB"]
repository_url: https://github.com/NCHU-NLP-Lab/crime-network
demo_url: https://crime-network.nlpnchu.org/
co_author: [{"name": "Li-Gang Jiang", "link": "https://github.com/booker2681"}]
---

<p>Visualize criminals relationship with graph</p>
<ul>
    <li>80GB+ of data parsed from Taiwan's public verdict</li>
    <li>Web interface to search for criminals' common accomplices and criminal patterns</li>
</ul>