---
layout: project
tags: project
title: Tubee
description: 🎬🔍 One-stop solution for YouTube content tracking
icon: /img/tubee/icon.png
labels: ["Python", "Flask", "Jinja", "jQuery", "Bootstrap", "PostgreSQL", "Celery", "GitHub Actions", "Docker", "Linode"]
repository_url: https://github.com/tomy0000000/tubee
---

<p>🏃🏻 More content is on the way !<br/>Please check back later.</p>